.ant-layout-header .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin-right: 30px;
    /*background: rgba(255, 255, 255, 0.3);*/
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.ant-row-rtl .ant-layout-header .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.ant-layout-header{
    height: 52px;
    line-height: 52px;
}